* {
	overflow-x: hidden;
}

.container_main {
	display: grid;
	justify-content: center;
	margin-top: 40px;
	gap: 120px;
	padding: 30px;
}

.entry {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.entry h1 {
	font-size: 45px;
}

.entry h3 {
	flex-wrap: wrap;
	width: 1120px;
}

.about_site_information {
	display: flex;
	gap: 120px;
}

#about_pict_pages {
	display: flex;
	align-items: center;
	gap: 25px;
}

#about_pict_pages::before {
	content: 'ᅟ';
	width: 30px;
	height: 30px;
	margin-bottom: 19px;
	background-color: grey;
}

.img_container {
	margin: 0 auto;
}

#img:hover {
	cursor: pointer;
}

.container_users {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item_users {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 15px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.img_people {
	width: 240px;
	height: 100px;
	height: auto;
}

#id_people {
	width: 400px;
	aspect-ratio: 1;
	object-fit: cover;
}

#id_people:hover {
	transform: scale(1.2);
	transition: 0.4s;
}

@media screen and (max-width: 1150px) {
	.entry h1 {
		font-size: 35px;
	}
	.entry h3 {
		width: 800px;
	}
	.about_site_information {
		flex-direction: column;
		gap: 20px;
	}

	.swiper_container {
		flex-direction: column;
		gap: 30px;
	}

	.img_container {
		grid-template-columns: repeat(2, 0.5fr);
	}
	.container_users {
		display: grid;
		grid-template-columns: repeat(2, 0.5fr);
	}
}

@media screen and (max-width: 800px) {
	.container_users {
		grid-template-columns: repeat(1, 0.5fr);
	}
	.swiper_container {
		width: 360px;
	}
	.item_users {
		font-size: 25px;
	}
	.entry {
		word-break: break-all;
		min-width: 300px;
	}
	.entry h3 {
		word-break: break-word;
		width: 360px;
	}
}
