.container_persone_page {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.persone_page-title {
	justify-content: space-around;
	margin-top: 30px;
}

.persone_page-title,
.left_title-page,
.left_title-page_top {
	display: flex;
}

.left_title-page,
.left_title-page_top {
	flex-direction: column;
}

.left_title-page {
	gap: 40px;
}

.container_information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container_item {
	display: flex;
	gap: 40px;
}

.container_item li {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.container_nicknames {
	display: flex;
	justify-content: center;
}

.nicknames {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.title_nicknames {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: grey;
	width: 400px;
	border-radius: 20px;
	padding: 5px;
}

.items_nicknames {
	background: grey;
	padding: 10px;
	width: 40%;
}

#id_people {
	width: 400px;
	aspect-ratio: 1;
	object-fit: cover;
}

.rotate_arrow {
	transform: rotate(180deg);
}

.hide_items {
	display: none;
}

.container_gallery {
	display: flex;
	justify-content: center;
}

.gallery_img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
	gap: 30px;
}

#title_img,
#galery-image {
	width: 350px;
	aspect-ratio: 1;
	object-fit: cover;
}

#galery-image:hover {
	transform: scale(1.1);
	transition: 0.4s;
}

@media screen and (max-width: 900px) {
	.container_item {
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	.gallery_img {
		grid-template-columns: repeat(2, 1fr);
	}
	.persone_page-title,.left_title-page_top,.left_title-page_bottom {
		align-items: center;
		flex-direction: column;
		margin: 0 auto;
		gap: 10px;
		font-size: 15px;
	}
}

@media screen and (max-width: 450px) {
		.gallery_img {
		grid-template-columns: repeat(1, 1fr);
	}
}